ul {
    margin-top: .5rem;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
    overflow: scroll;
}

ul > li {
    border-top-width: 12px;
    height: 92.5vh;
    width: 50%;
    min-width: 500px;
    box-sizing: border-box;
    border: 6px solid #fff;
    background-color: #fafafa;
}
  
ul > li > p {
    color: white;
    text-align: center;
    font-size: 20px;
}
  
ul > li > p:first-of-type {
    font-size: 70px;
    font-weight: 500;
    line-height: 0px;
    padding-top: 33vh;
}
  
ul > li > p:nth-child(2) {
    padding-left: 25px;
    padding-right: 25px;
}
  
ul > li:nth-child(1) {
    background-image: url("https://github.com/ZenMaster91/uniovi.sew/raw/master/RESOURCES/festival.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
  
ul > li:nth-child(2) {
    background-image: url("https://github.com/ZenMaster91/uniovi.sew/raw/master/RESOURCES/ski-white.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
  
ul > li:nth-child(3) {
    background-image: url("https://github.com/ZenMaster91/uniovi.sew/raw/master/RESOURCES/run.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
  
ul > li:nth-child(4) {
    background-image: url("https://github.com/ZenMaster91/uniovi.sew/raw/master/RESOURCES/swim.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}