body > div:first-of-type {
    overflow: hidden;
    height: 100vh;
    background-image: url("https://github.com/ZenMaster91/uniovi.sew/raw/master/RESOURCES/banner-hero-gfc.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    margin-top: -2.8rem;
    z-index: 0;
}

body>div:first-of-type>h1 {
    text-align: center;
    font-size: 3em;
    line-height: 1;
    margin-top: 50vh;
}

body>div:first-of-type>p {
    text-align: center;
    font-style: italic;
    line-height: 0;
    font-size: 2em;
}

article {
    min-height: 250px;
    margin-bottom: 80px;
}